#gameContainer{
    text-align: center;
}

#gameBoard{
    border: 3px solid;

}

#restartBtn{
    font-family: "Permanent Markter", cursive;
    font-size: 22px;
    width: 100px;
    height: 50px;
    border: 4px solid;
    border-radius: 15px;
    cursor: pointer;
}

#scoreText{
    font-family: "Permanent Markter", cursive;
    font-size: 40px;
}